<div class="column is-one-third">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="{{.RelPermalink}}card.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <h4 class="title is-4">{{ .Title}}</h4>
            <h6 class="subtitle has-text-grey is-6 mb-3"><time datetime="2016-1-1">{{ .Date.Format "01/2006" }}</time></h6>
            <div class="content">
                {{ .Description }}
            </div>
        </div>
        <footer class="card-footer">
            {{ with .Params.externalLink }}
            <a href="{{ . }}" class="card-footer-item">
                View
            </a>
            {{ else }}
            <a class="card-footer-item ms-a-disabled has-text-grey">View</a>
            {{ end }}


            {{ if ne (len .Content) 0}}
            <a href="{{ .Permalink }}" class="card-footer-item">Read more</a>
            {{ else }}
            <a class="card-footer-item ms-a-disabled has-text-grey">Read more</a>
            {{ end }}

        </footer>
    </div>
</div>