{{ define "main" }}
<div class="container is-max-desktop">

  <section class="section">
    <h1 class="title is-1 has-text-centered">{{.Title}}</h1>
    <article class="notification">
      <h3 class="subtitle is-5 has-text-centered">{{.Description}}</h3>
      <nav class="level ms-tags-level">
        {{$taxo := "tags"}}
        <p class="level-item"><a href="/{{$taxo |urlize}}">all ({{len $.Pages}})</a></p>
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }} <p class="level-item"><a
            href="/{{$taxo}}/{{ $name | urlize}}">{{$name}} ({{len $taxonomy}})</a></p>
        {{end}}
      </nav>
    </article>

  </section>

  <section>

    {{ range $i, $page := .Pages }}

    {{ partial "journal/listing.html" $page}}

    {{ $last_index := sub (len $.Pages) 1 }}
    {{if ne $i $last_index }}
    <hr class="no-spacing">
    {{end}}

    {{ end }}
  </section>

</div>
{{ end }}