<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/main.css">
    <title>Matias Silva</title>
    <meta name="description" content="{{config.extra.description}}" />
    <meta name="og:type" content="website" />
    <meta name="og:title" content="{{ page.title }}" />
    <meta name="og:description" content="{{config.extra.description}}" />
</head>

<body>
    {% include "shared/navbar.html" %}
    <main>
        {% block content %} {% endblock content %}
    </main>
    {% include "shared/footer.html" %}
    <script src="/assets/main.js"></script>
</body>

</html>