{% extends "base.html" %}

{% block content %}
<section class="hero is-warning is-fullheight">
    <div class="hero-body">
        <div class="container">
            <article class="columns is-vcentered">
                <div class="column">
                    <figure class="image is-256x256 ms-centered-image">
                        <img class=" is-rounded" src="/files/logo.jpg">
                    </figure>
                </div>
                <div class="column is-two-thirds">
                    <h1 class="title">
                        Matias Silva
                    </h1>
                    <h2 class="subtitle">
                        {{config.extra.description}} </h2>
                </div>
            </article>

        </div>
    </div>
</section>
{% endblock content %}