<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span class="ms-navbar-text">matiasilva.com</span>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="/about/" class="navbar-item">
                    About
                </a>

                <a class="navbar-item" href="/projects/">
                    Projects
                </a>

                <a class="navbar-item" href="/files/Matias_CV_2020.pdf" target="_blank">
                    CV
                </a>

                <!-- <div class="navbar-item has-dropdown is-hoverable ">
                    <a class="navbar-link">
                        Links
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            GitHub
                        </a>
                        <a class="navbar-item">
                            LinkedIn
                        </a>
                    </div>
                </div> -->
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-info" href="https://www.linkedin.com/in/matiasilva">
                            <i class="fab fa-linkedin mr-2"></i>LinkedIn
                        </a>
                        <a class="button is-dark" href="https://github.com/matiasilva">
                            <i class="fab fa-github mr-2"></i>GitHub
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>